:root {
    --scroll-track-bg: #0a0a1a;
    --scroll-track-stars: #ffffff20;
    --scroll-thumb-bg: var(--primary);
    --scroll-thumb-hover-bg: var(--primary-light);
    --scroll-thumb-border: var(--bg-dark);
    --scroll-thumb-shadow: var(--primary-shadow);
    --scroll-thumb-shadow-hover: var(--primary-shadow-hover);


    --primary: #a88bff;
    --primary-dark: #6b46c1;
    --primary-light: #c4b0ff;
    --accent: #67e8f9;
    --accent-dark: #0891b2;
    --bg-dark: #0a0a1a;
    --bg-card: rgba(20, 20, 40, 0.8);
    --text-light: #ffffff;
    --text-muted: #cccccc;
    --border-color: rgba(168, 139, 255, 0.3);

    --primary-shadow: rgba(107, 70, 193, 0.3);
    --primary-shadow-hover: rgba(107, 70, 193, 0.5);
    --primary-glow: rgba(168, 139, 255, 0.5);

    --anim-duration-short: 0.3s;
    --anim-duration-medium: 1s;
    --anim-duration-long: 2s;

    --border-radius-sm: 10px;
    --border-radius-md: 12px;
    --border-radius-lg: 20px;
    --border-radius-round: 50%;
}
